{% extends 'base.html' %}

{% block title %} Search Employee {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<body data-ng-app="app">
<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
</div>

<div class="container-fluid mt--9 my-3" data-ng-controller="MainController">

    <div class="row">

        <div class="col-xl-12 order-xl-1">
            <div class="card bg-success shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h3 class="mb-0">Search Employee</h3>
                        </div>
                        <div class="col-6 text-right">
                          
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-warning {% else %} alert-{{ message.tags }}{% endif %}"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="alert alert-warning" role="alert" ng-show="Message">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button> 
                            {{ Message }}
                            <span id="employee_msg"></span>
                        </div>
                    
                </div>

               

                <div class="table-responsive px-3">
                  <table class="table align-items-center table-flush table-sm" style="width: 100%;">
                      <thead class="thead-light">
                          <tr class="text-center">
                              <th scope="col">Sr no.</th>
                              <th scope="col">Fullname</th>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Mobile</th>
                              <th scope="col">Code</th>
                              <th scope="col">Position</th>
                              <th scope="col">Date</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      
                      <tbody class="text-center text-white">
                          {% if not obj %}
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4>No Data Found</h4></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          {% else %}
                          {% for employee in obj %}
                          <tr>
                              <td>
                                {{ forloop.counter }}
                              </td>
                              
                              <td>
                                {{employee.fullname}}
                              </td>
                              <td>
                                {{employee.first_name}}
                              </td>
                              <td>
                                {{employee.last_name}}
                              </td>
                              <td>
                                {{employee.email}}
                              </td>
                              <td>
                                {{employee.mobile}}
                              </td>
                              <td>
                                  {{employee.emp_code}}
                              </td>
                              <td>
                                  {{employee.position}}
                              </td>
                              <td>
                                  {{employee.joining_date}}
                              </td>
                              
                              <td>
                                <a type="button" class="btn btn-info btn-sm" href="/edit/employee/{{employee.pk}}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a type="button" class="btn btn-danger btn-sm" href="/delete/employee/{{employee.pk}}">Delete</a>
                              </td>
                              {% endfor %}
                          </tr>
                          {% endif %}
                        
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>


{{ all_employees|json_script:"all_employees" }}
</div>
</body>

{% endblock content %}

{% block javascripts %}
<script src="/static/js/employee_list.js"></script>
{% endblock javascripts %}